# For more information please visit http://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
max_line_length = 80

[*.php]
indent_size = 4

[*.py]
indent_size = 4
max_line_length = 79

[*.{xml,xml.dist}]
indent_size = 4
max_line_length = 120
